In [20]:
import pandas as pd

df_clientes = pd.read_csv('../input/clientes.csv')

print(df_clientes.shape)

df_clientes.info()

df_describe = df_clientes.describe()

display(df_describe)

df_describe['id_cliente']['min']

(8, 6)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id_cliente     8 non-null      int64
 1   nome_cliente   8 non-null      object
 2   idade          8 non-null      int64
 3   estado         8 non-null      object
 4   email          8 non-null      object
 5   data_cadastro  8 non-null      object
dtypes: int64(2), object(4)
memory usage: 516.0+ bytes

       id_cliente      idade
count     8.00000   8.000000
mean    104.50000  35.375000
std       2.44949  10.446291
min     101.00000  22.000000
25%     102.75000  28.750000
50%     104.50000  33.000000
75%     106.25000  41.250000
max     108.00000  55.000000

np.float64(101.0)