In [15]:
import pandas as pd

dados = {
    'id_produto': [1, 2, 3],
    'nome_produto': ['Caneta', 'Folha', 'Lápis'],
    'preco': [2.50, 5.25, 0]
}

df = pd.DataFrame(dados)

display(df)

print(df.isnull().sum())

   id_produto nome_produto  preco
0           1       Caneta   2.50
1           2        Folha   5.25
2           3        Lápis   0.00

id_produto      0
nome_produto    0
preco           0
dtype: int64