In [2]:
import pandas as pd
import json

with open('../input/vendas_loja_aninhado.json', 'r', encoding="utf-8") as json_file:
    data = json.load(json_file)

df_vendas = pd.json_normalize(data, record_path=['vendas'], meta=['loja_id', 'cidade'])

display(df_vendas)

  id_venda   produto  valor loja_id          cidade
0       V1  Notebook   3500    L001       S達o Paulo
1       V2     Mouse     80    L001       S達o Paulo
2       V3   Teclado    250    L002  Rio de Janeiro