In [13]:
import requests
import pandas as pd

proxies = {
    'http': 'http://localhost:3128',
    'https': 'http://localhost:3128',
}

url = "https://api.open-meteo.com/v1/forecast"
params = {
	"latitude": -30.0454762,
	"longitude": -51.2131703,
	"daily": ["temperature_2m_min", "temperature_2m_max"],
    "timezone": "America/Sao_Paulo",
    "forecast_days": 5
}

response = requests.get(url, params=params, proxies=proxies)

print('Status Code: ', response.status_code)

data = response.json()

display(data['daily'])

df_daily = pd.DataFrame(data['daily'])

display(df_daily)

Status Code:  200
Content Type:  application/json; charset=utf-8
Encoding:  utf-8

{'time': ['2025-10-28',
  '2025-10-29',
  '2025-10-30',
  '2025-10-31',
  '2025-11-01'],
 'temperature_2m_min': [16.9, 16.4, 16.2, 15.8, 16.6],
 'temperature_2m_max': [20.9, 16.9, 20.6, 22.6, 27.9]}

         time  temperature_2m_min  temperature_2m_max
0  2025-10-28                16.9                20.9
1  2025-10-29                16.4                16.9
2  2025-10-30                16.2                20.6
3  2025-10-31                15.8                22.6
4  2025-11-01                16.6                27.9