In [1]:
import pandas as pd

df_pedidos = pd.read_json('../input/pedidos_simples.json')

display(df_pedidos.head())

display(df_pedidos.info())

  id_pedido  id_cliente  valor
0      P001           1  350.5
1      P002           3  120.0
2      P003           2  800.0
3      P004           5  240.1
4      P005           1  150.0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id_pedido   9 non-null      object
 1   id_cliente  9 non-null      int64
 2   valor       9 non-null      float64
dtypes: float64(1), int64(1), object(1)
memory usage: 348.0+ bytes

None