In [43]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

def clean_number(raw):
    return raw.replace('$', '').replace(' ','').replace(',','').replace('\n', '')

proxies = {
    'http': 'http://localhost:3128',
    'https': 'http://localhost:3128',
}

headers = {
 'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36'
}

url = 'https://en.wikipedia.org/wiki/List_of_largest_companies_by_revenue'

response = requests.get(url, proxies=proxies, headers=headers)

content = response.text

soup = BeautifulSoup(content, 'lxml')

trs = soup.select_one('.wikitable').select('tr')[2:]

companies = []

industry = None
revenue = 0

for tr in trs:
    if tr.select('td')[1].get('rowspan') or tr.select('td')[1].select_one('a'):
        industry = tr.select('td > a')[1].text
        revenue = clean_number(tr.select('td')[2].text)
    else:
        revenue = clean_number(tr.select('td')[1].text)

    company = {
        'rank': int(tr.select('th')[0].text.replace('\n', '')),
        'name': tr.select('td > a')[0].text,
        'industry': industry,
        'revenue': float(revenue)
    }

    companies.append(company)

df_companies = pd.DataFrame(companies)

df_companies.to_csv('companies.csv', index=False)

display(df_companies)

,rank,name,industry,revenue
0,1,Walmart,Retail,680985.0
1,2,Amazon,Retail,637959.0
2,3,State Grid Corporation of China,Electricity,545948.0
3,4,Saudi Aramco,Oil and gas,480446.0
4,5,China Petrochemical Corporation,Oil and gas,429700.0
5,6,China National Petroleum Corporation,Oil and gas,476000.0
6,7,UnitedHealth Group,Healthcare,400278.0
7,8,Apple,Information technology,391035.0
8,9,Berkshire Hathaway,Financials,371433.0
9,10,CVS Health,Healthcare,357776.0
10,11,Alphabet,Information technology,350018.0
11,12,Volkswagen Group,Automotive,348408.0
12,13,ExxonMobil,Oil and gas,344582.0
13,14,Vitol,Commodities,331000.0
14,15,Shell,Oil and gas,323183.0
15,16,China State Construction Engineering,Construction,320431.0
16,17,Toyota,Automotive,312018.0
17,18,McKesson,Healthcare,308951.0
18,19,Cencora,Healthcare,262173.0
19,20,Microsoft,Information technology,245122.0
20,21,Trafigura,Commodities,244280.0
21,22,Costco,Retail,242290.0
22,23,JPMorgan Chase,Financials,239425.0
23,24,Industrial and Commercial Bank of China,Financials,222484.0
24,25,TotalEnergies,Oil and gas,218945.0
25,26,Glencore,Commodities,217829.0
26,27,BP,Oil and gas,213032.0
27,28,Cardinal Health,Healthcare,205012.0
28,29,Stellantis,Automotive,204908.0
29,30,Chevron,Oil and gas,200949.0
30,31,China Construction Bank,Financials,199826.0
31,32,Samsung Electronics,Electronics,198257.0
32,33,Foxconn,Electronics,197876.0
33,34,Cigna,Healthcare,195265.0
34,35,Agricultural Bank of China,Financials,192398.0
35,36,Schwarz Gruppe,Retail,180576.0
36,37,China Railway Engineering Corporation,Construction,178563.0
37,38,Cargill,Conglomerate,177000.0
38,39,Ford Motor Company,Automotive,176191.0
39,40,Bank of China,Financials,172328.0
40,41,Bank of America,Financials,171912.0
41,42,General Motors,Automotive,171842.0
42,43,Elevance Health,Healthcare,171340.0
43,44,BMW Group,Automotive,168103.0
44,45,Mercedes-Benz Group,Automotive,165638.0
45,46,China Railway Construction Corporation,Construction,160847.0
46,47,Baowu,Steel,157216.0
47,48,Citigroup,Financials,156820.0
48,49,Enel,Energy,147100.0